[Desktop Entry]
Name=snd
Comment=Fast, beautiful desktop email client
Exec=snd
Icon=com.anydaysomething.velopro
Type=Application
Categories=Network;Email;
StartupWMClass=snd
StartupNotify=true
